.die {
  transition: padding 0.5s ease;
  height: $die-size;
  padding: $die-jump 0 0 0;
  position: relative;
  width: $die-size;

  .st0 {
    fill: $colour-dice-fill;
    stroke: $colour-dice-stroke;
    stroke-width: 11;
    stroke-miterlimit: 10;
  }

  .dot {
    display: none;
  }

  &.rolling {
    padding: 0 0 $die-jump 0;


    svg {
      @keyframes wobble  {
        0%  { transform:  rotate(0deg); }
        20%  { transform:  rotate(10deg); }
        50%  { transform:  rotate(-10deg); }
        100%  { transform:  rotate(0deg); }
      }
      animation: wobble 0.5s infinite;
    }
  }

  &.result {
    &-1 {
      #three { display: block; }
    }
    &-2 {
      #one,
      #seven { display: block; }
    }
    &-3 {
      #one,
      #three,
      #seven { display: block; }
    }
    &-4 {
      #one,
      #four,
      #five,
      #seven { display: block; }
    }
    &-5 {
      #one,
      #three,
      #four,
      #five,
      #seven { display: block; }
    }
    &-6 {
      #one,
      #two,
      #four,
      #five,
      #six,
      #seven { display: block; }
    }
  }

  &:after {
    $blur: 2px;

    background-color: rgba(#000,0.3);
    bottom: 0;
    content: ' ';
    display: block;
    height: 2px;
    left: 5px;
    position: absolute;
    right: 5px;

    -webkit-filter: blur($blur);
    -moz-filter: blur($blur);
    -o-filter: blur($blur);
    -ms-filter: blur($blur);
    filter: blur($blur);
  }
}
