
main {
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
  text-align: center;
}

h1 {
  font-family: 'Diplomata SC', cursive;
  font-size: 46px;
}

.dice-form {
  padding: 20px 0;
}

.dice-results {
  height: 200px;
  padding-top: 20px;

  .results-list {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    li {
      display: block;
      float: left;
      margin: 5px;
    }
  }
}
